/* Hide Notices */

.update-nag, .updated, .error, .is-dismissible {
    display: none;
}

/* Banner */

.sitecare-banner {
    align-items: center;
    background: radial-gradient(100% 58142.02% at 100% 50%, #00145C 0%, #3381FF 100%);
    display: flex;
    justify-content: space-between;
    padding: 16px 40px;
    margin-left: -20px;
}

@media (max-width: 768px) {
    .sitecare-banner {
        margin-left: -10px;
    }
}

.sitecare-banner h1 {
    background-image: url('../assets/logo.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40px;
    margin: 0;
    overflow: hidden;
    text-indent: -9999px;
    width: 151px;
}

.sitecare-banner .support-button {
    align-items: center;
    background-image: url('../assets/support.svg');
    background-position: 10px center;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-color: transparent;
    border-radius: 8px;
    border: 2px solid #FFFFFF66;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    min-height: 18px;
    padding: 6px 12px 6px 36px;
    text-decoration: none;
    vertical-align: middle;
    color: white;
}

/* Dashboard */

.sitecare-dashboard .btn {
    display: inline-block;;
    background: #E00099;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: normal;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
}

.sitecare-dashboard .sitecare-dashboard-wrapper {
    max-width: 64rem;
    margin: 0 auto;
    background-color: white;
    border-radius: 12px;
    border: 1px solid #EAEAEA;
    padding: 40px;
}

.sitecare-dashboard h2,
.sitecare-dashboard .headline {
    font-size: 28px;
    font-weight: bold;
    line-height: 1.2;
    margin: 0 0 24px;
}

/* History */

.sitecare-dashboard .history-headline {
    display: flex;
    align-items: center;
}

.sitecare-dashboard .history-headline .headline-text {
    margin: 0 0 0 8px;
    line-height: 1;
}

.sitecare-dashboard .history-headline {
    display: flex;
    align-items: center;
}

.sitecare-dashboard .history-headline .headline-text {
    margin: 0 0 0 8px;
    line-height: 1;
}

.sitecare-dashboard p {
    font-size: 14px;
    margin: 0 auto 16px;
}

/* Start */

.sitecare-dashboard .sitecare-start form .email-checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.sitecare-dashboard .sitecare-start form .email-checkbox-container label {
    cursor: pointer;
}

.sitecare-dashboard .sitecare-start form .email-text-container {
    margin-bottom: 20px;
}

.sitecare-dashboard .sitecare-start form .email-text-container .email {
    margin-top: 2px;
}

.sitecare-dashboard .sitecare-start form .email {
    text-align: center;
    width: 250px;
}

.sitecare-dashboard .sitecare-start form .disclaimer {
    font-size: 11px;
    margin-top: 4em;
}

/* Scan */

.sitecare-dashboard .sitecare-scan {
    margin-top: 25px;
}

.sitecare-dashboard .sitecare-scan .mark {
    margin-bottom: 20px;
}

.sitecare-dashboard .sitecare-scan .text {
    font-size: 24px;
    line-height: 1.2;
    font-weight: bold;
    margin-bottom: 12px;
}

.sitecare-dashboard .sitecare-scan .subtext {
    font-size: 16px;
    margin-bottom: 30px;
}

.sitecare-dashboard .sitecare-scan .status-text {
    color: #929292;
    font-size: 14px;
    margin-top: 5px;
    text-align: center;
}

.sitecare-dashboard .sitecare-scan .loader-bar-container {
    margin-bottom: 15px;
}

.sitecare-dashboard .sitecare-scan .loader-bar-container .ip {
    width: 8em;
    height: 4em;
}

.sitecare-dashboard .sitecare-scan .loader-bar-container .ip__track {
    stroke: #efefef;
}

.sitecare-dashboard .sitecare-scan .loader-bar-container .ip__worm1,
.sitecare-dashboard .sitecare-scan .loader-bar-container .ip__worm2 {
    animation: worm1 2s linear infinite;
}

.sitecare-dashboard .sitecare-scan .loader-bar-container .ip__worm2 {
    animation-name: worm2;
}

/* Animation */

@keyframes worm1 {
    from {
        stroke-dashoffset: 0;
    }
    50% {
        animation-timing-function: steps(1);
        stroke-dashoffset: -358;
    }
    50.01% {
        animation-timing-function: linear;
        stroke-dashoffset: 358;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes worm2 {
    from {
        stroke-dashoffset: 358;
    }
    50% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: -358;
    }
}

/* Report */

.sitecare-report .secondary-color {
    color: #E00099;
    font-weight: bold;
}

.sitecare-report .headline {
    font-size: 28px;
    font-weight: bold;
    line-height: 1.2;
    margin: 0 0 8px;
}

.sitecare-report .sitecare-score-date {
    margin: 0 0 16px;
}

.sitecare-report .sitecare-report-summary {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 1em 1.5em;
    border-radius: 12px;
    border: 1px solid #F0F0F0;
    box-shadow: 0 4px 40px 0 #00000005;
    margin-bottom: 20px;
}

.sitecare-report .sitecare-report-summary .score-history {
    display: inline-block;
    border: 2px solid #E00099;
    border-radius: 8px;
    margin-top: 12px;
    padding: 6px 8px;
    color: #E00099;
    text-decoration: none;
}

.sitecare-report .sitecare-report-summary .score-history-inner {
    display: flex;
    align-items: center;
    gap: 4px;
}

.sitecare-report .sitecare-report-limit-container {
    display: inline-block;
    background: rgb(26, 113, 255);
    background: linear-gradient(90deg, rgba(26, 113, 255, 1) 0%, rgba(255, 46, 189, 1) 100%);
    padding: 2px;
    margin: 0 auto 20px;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.sitecare-report .sitecare-report-limit-container.max {
    background: #E00099;
}

.sitecare-report .sitecare-report-limit-inner {
    display: inline-block;
    border-radius: 6px;
    background: white;
    padding: 0.5em 1em;
}

.sitecare-report .sitecare-report-limit {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 6px;
}

.sitecare-report .sitecare-report-limit .hilite {
    font-weight: bold;
}

.sitecare-report .sitecare-report-limit-container.max .sitecare-report-limit .hilite {
    color: #E00099;
}

.sitecare-report .content {
    font-size: 14px;
}

.sitecare-report .score {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    border: 1px solid #F0F0F0;
    padding: 15px 25px;
}

.sitecare-report .score-svg {
    margin-bottom: 5px;
}

.sitecare-report .score-text {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
}

.report-score-details {
    width: 100%;
}

.report-score-details th,
.report-score-details td {
    padding: 8px 0 6px 0;
    border-top: 1px solid #F5F5F5;
}

/* Specific style for the first 'td' of the table to have no top border */
.report-score-details tr:first-child td {
    border-top: none;
}

.report-score-details .report-details-label {
    width: 95%;
    font-weight: bold;
}

.report-score-details .report-details-info {

    width: 5%;
    padding-left: 10px;
    white-space: nowrap;

    a {
        color: #000000;
        font-weight: bold;
        text-decoration: underline;
    }

}

/* Accordion */

.sitecare-report-score-accordion {
    // border: 1px solid #F0F0F0;
}

.sitecare-report-score-accordion-item-container {
    padding: 8px 0;
    border-top: 1px solid #E5E5E5;
}

.sitecare-report-score-accordion-item-container:first-child {
    border-top: none;
}

.sitecare-report-score-accordion-item {

}

.sitecare-report-score-accordion-item.active {
    box-shadow: 0 4px 20px 0 #0000000A;
    border: 1px solid #E5E5E5;
    border-radius: 8px;
    //margin-bottom: 10px;
    padding: 0;
}

.sitecare-report-score-accordion-heading {
    margin: 0;
    font-size: inherit;
    line-height: inherit;
    font-weight: 600;
    color: inherit;
}

.sitecare-report-score-accordion-trigger {
    background: #fff;
    border-radius: 8px;
    border: 0;
    color: #2c3338;
    cursor: pointer;
    display: flex;
    font-weight: 400;
    margin: 0;
    padding: 1em 3.5em 1em 1.5em;
    min-height: 46px;
    position: relative;
    text-align: left;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    -webkit-user-select: auto;
    user-select: auto;
}

.sitecare-report-score-accordion-trigger:hover,
.sitecare-report-score-accordion-trigger:active {
    // background: #f6f7f7;
}

.sitecare-report-score-accordion-trigger:focus {
    color: #1d2327;
    border: none;
    box-shadow: none;
    outline-offset: -1px;
    outline: none;
    // background-color: #f6f7f7;
}

.sitecare-report-score-accordion-trigger .title {
    pointer-events: none;
    font-weight: 600;
    flex-grow: 1;
}

.sitecare-report-score-accordion-trigger .icon {
    border: solid #50575e;
    border-width: 0 2px 2px 0;
    height: .5rem;
    pointer-events: none;
    position: absolute;
    right: 1.5em;
    top: 50%;
    transform: translateY(-70%) rotate(45deg);
    width: .5rem;
}

.sitecare-report-score-accordion-trigger .badge {
    padding: 6px 12px 6px 36px;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-position: 10px center;
    font-weight: bold;
}

.sitecare-report-score-accordion-trigger .badge.pass {
    color: #0EB300;
    background-color: #F4FFF0;
    background-image: url('https://sitecarescore.zengy.com/img/svg/status-check.svg');
}

.sitecare-report-score-accordion-trigger .badge.alert {
    background-color: #FFF2D5;
    background-image: url('https://sitecarescore.zengy.com/img/svg/status-wrench.svg');
}

.sitecare-report-score-accordion-trigger .badge.fail {
    color: #DD0000;
    background-color: #FFF2F2;
    background-image: url('https://sitecarescore.zengy.com/img/svg/status-exclamation.svg');
}

.sitecare-report-score-accordion-trigger[aria-expanded="true"] .icon {
    transform: translateY(-30%) rotate(-135deg)
}

.sitecare-report-score-accordion-panel {
    margin: 0;
    padding: 1em 1.5em;
    background: #fff;
    border-radius: 8px;
}

.sitecare-report-score-accordion-panel[hidden] {
    display: none;
}

.sitecare-report-score-accordion-panel a .dashicons {
    text-decoration: none;
}

.sitecare-report-score-accordion-panel .content {
    background-color: #F5F5F5;
    border-radius: 5px;
    padding: 15px;
    font-size: 12px;
}

.sitecare-report-score-accordion-panel .content p:last-child {
    margin-bottom: 0;
}

.sitecare-report-score-accordion-panel .quick-tip {
    //background-color: #F5F5F5;
    //border-radius: 5px;
    padding: 15px;
    font-size: 12px;
}

.sitecare-report-score-accordion-panel .quick-tip p {
    padding: 0;
    margin: 0;
}


.sitecare-report-notification {
    margin-bottom: 25px;
    padding: 24px 32px;
    background: #FFF9FD;
    border: 1px solid #F0F0F0;
    border-radius: 12px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 1.4;
}

.sitecare-report-notification p {
    margin-bottom: 0;
}


.sitecare-report-contact {
    margin-top: 25px;
    padding: 24px 32px;
    background: #FFF9FD;
    border: 1px solid #F0F0F0;
    border-radius: 12px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 1.4;
}

.sitecare-report-contact,
.sitecare-report-contact a {
    color: #4B494B;
}

.sitecare-report-contact .btn {
    display: block;
    background: #E00099;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: normal;
    padding: 8px 16px;
    text-decoration: none;
}

.sitecare-report-contact .contact-button {
    display: inline-block;
}

/* Abandoned Plugins */

.sitecare-report-score-accordion-item .abandoned-plugin-list {
    list-style: disc;
    padding-left: 15px;
    margin-top: 8px;
}

/* History */

.sitecare-history {
    width: 100%;
    border: 1px solid #F0F0F0;
    border-spacing: 0;
    border-radius: 8px;
}

.sitecare-history th {
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    color: #4B494B;
    padding: 8px;
}

.sitecare-history thead {
    background: #F8F8F8;
}

.sitecare-history th,
.sitecare-history td {
    padding: 10px;
}

.sitecare-history tr td {
    border-top: 1px solid #F0F0F0;
}

.sitecare-history .score {
    display: inline-block;
    border-radius: 4px;
    padding: 3px 10px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid #000000;
    border-left: 8px solid #000000;
}

.sitecare-history .view-report {
    display: flex;
    align-items: center;
    gap: 8px;
}

.sitecare-history .view-report:focus {
    outline: none;
    box-shadow: none;
    color: #0062FF;
}

.sitecare-history .view-report .link-text {
    text-decoration: underline;
    color: #0062FF;
    font-size: 14px;
}

#historyLineChart {
    width: 100%;
    border: 1px solid #F0F0F0;
    border-spacing: 0;
    border-radius: 8px;
    margin-bottom: 16px;
    padding: 10px;
}


.sitecare-score-date {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.sitecare-score-date .date {
    margin-left: 4px;
    margin-right: 12px;
}

.sitecare-score-date .time {
    margin-left: 4px;
}

/* Dashboard Widget */

#sitecare_score_dashboard_widget .inside {
    margin: 0 !important;
    padding: 0 !important;
}

.sitecare-score-dashboard-widget-container {

}

.sitecare-score-dashboard-widget {
    display: flex;
    column-gap: 16px;
    padding: 12px !important;
}

.sitecare-score-dashboard-widget .sitecare-score-dashboard-widget,
.sitecare-score-dashboard-widget .score-text-container,
.sitecare-score-dashboard-widget .score-circle {
    display: flex;
}

.sitecare-score-dashboard-widget .score-text-container,
.sitecare-score-dashboard-widget .score-circle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sitecare-score-dashboard-widget .score {
    padding: 10px 12px;
    border: 1px solid #F0F0F0;
    border-radius: 8px;
}

.sitecare-score-dashboard-widget .score-text-container {
    margin-top: 4px;
    gap: 3px;
}

.sitecare-score-dashboard-widget .score .score-text {
    font-weight: bold;
    text-transform: uppercase;
}

.sitecare-score-dashboard-widget .score-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 6px;
    border-style: solid;
    border-radius: 50% !important;
    width: 100px !important;
    height: 100px !important;
}

.sitecare-score-dashboard-widget .score .score-number {
    font-size: 40px !important;
}

.sitecare-score-dashboard-widget .issues {
    border: 1px solid #F0F0F0;
    border-radius: 8px;
    flex-grow: 1;
}

.sitecare-score-dashboard-widget .issues .title {
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: #004ECC;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 0.5em .75em !important;
    font-weight: bold !important;
    font-size: 12px !important;
}

.sitecare-score-dashboard-widget .issues .title .svg {
    line-height: 1;
}

.sitecare-score-dashboard-widget .issues .title .text {
    color: white !important;
}

.sitecare-score-dashboard-widget .issues ul {
    list-style: disc;
    padding: 0.5em 0.5em 0.5em 0.75em !important;
    margin: 0 !important;
}

.sitecare-score-dashboard-widget .issues ul.dashed {
    list-style-type: none;
}

.sitecare-score-dashboard-widget .issues ul.dashed > li {
}

.sitecare-score-dashboard-widget .issues ul.dashed > li:before {
    content: "– ";
    color: #004ECC;
    font-weight: bold;
}

.sitecare-score-dashboard-widget .score-arrow {
    margin: 0;
    padding: 0;
    line-height: 0;
}

.sitecare-score-dashboard-widget .score-arrow svg {
    width: 12px;
    height: 12px;
}

.sitecare-score-dashboard-widget-container .latest-report {
    text-align: center;
    border-top: 1px solid #F0F0F0;
    padding: 10px 0;
}


/* Toolbar */

#wp-admin-bar-sitecare-score-adminmenu .ab-item {
    height: auto !important;
}

.sitecare-score-toolbar,
.sitecare-score-toolbar .score-container,
.sitecare-score-toolbar .score,
.sitecare-score-toolbar .score-circle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sitecare-score-toolbar {
    padding: 0 4px 0 0 !important;
}

.sitecare-score-toolbar .score {
    padding: 4px !important;
    border: 1px solid #F0F0F0;
    border-radius: 12px !important;
}

.sitecare-score-toolbar .score-svg {
    margin-bottom: 0 !important;
    line-height: 1 !important;
}

.sitecare-score-toolbar {
    gap: 10px;
}

.sitecare-score-toolbar .score-circle {
    border-width: 4px;
    border-style: solid;
    border-radius: 50% !important;
    width: 45px !important;
    height: 45px !important;
}

.sitecare-score-toolbar .score .score-number {
    font-size: 18px !important;
}

.sitecare-score-toolbar .score-arrow {
    padding-left: 2px !important;
}

.sitecare-score-toolbar .links {
    display: block;
}

.sitecare-score-toolbar .links a {
    height: auto !important;
    padding: 14px 0 !important;
    line-height: 1 !important;
    color: white !important;
}

.sitecare-score-toolbar .links .latest {
    border-bottom: 1px solid #b6bcc0;
}

.sitecare-score-toolbar .links .latest a {
    padding-bottom: 16px !important;
}
